<form action="/conditions" method="post">
  <input type="text" name="city" placeholder="city">
  <input type="text" name="state" placeholder="state">
  <input type="submit">
</form>

<ul>
  <% for (var i = 0; i < locations.length; i++) { %>
    <li><%= locations[i].city %>, <%= locations[i].state %>, <%= locations[i].temp %></li>
  <% } %>
</ul>
