<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <p><button id="geolocation" onclick="geoFindMe()">Get my location</button></p>
  <div id="out"></div>
  <form action='/' method="post">
    <input type="text" id="lat" name="lat" placeholder="latitude">
    <input type="text" id="long" name="long" placeholder="longitude">
    <input type="submit">
  </form>

  <%# <form action="/" method="post">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="state" placeholder="state">
    <input type="submit">
  </form>%>

  <p>Drag the slider to display the current value.</p>
  <div id="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    <p>Value: <span id="sliderVal"></span></p>
  </div>

  <table id="locationTemp">
    <tr>
      <!-- <th>Choose Color</th> -->
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Temperature</th>
      <th>Weather</th>
    </tr>
    <% for (var i = 0; i < weather.length; i++) { %>
      <tr>
        <td>
          <%= weather[i].lat %>
        </td>
        <td>
          <%= weather[i].long %>
        </td>
        <td class="tempCondition">
          <%= weather[i].temp %>
        </td>
        <td class="currentWeather">
          <%= weather[i].weather %>
        </td>
      </tr>
      <% } %>

  </table>



  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script src="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.js"></script>

  <script type="text/javascript" src="js/color.js"></script>

  <script type="text/javascript" src="js/preferences.js"></script>

  <script type="text/javascript" src="js/getLocation.js"></script>
</body>

</html>

<%#
<td>
  <input type='text' class="colorPicker">
</td>%>
