<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Preferences</title>
  <link href="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <p>Drag the slider to display the current value.</p>
  <div id="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    <p>Value: <span id="sliderVal"></span></p>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script src="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.js"></script>

  <script type="text/javascript" src="/js/color.js"></script>

  <script type="text/javascript" src="/js/getLocation.js"></script>

  <script type="text/javascript" src="/js/preferences.js"></script>

</body>

</html>

<%#
<td>
  <input type='text' class="colorPicker">
</td>%>
