<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Users</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection" />

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper white">
        <a href="#" class="center brand-logo grey-text text-darken-2"><b>LightFeedback</b></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%# <li><a class="grey-text text-darken-2" href="/users">Users</a></li>%>
        </ul>
      </div>
    </nav>
  </header>

  <main class="grey lighten-4 grey-text text-darken-1">
    <div class="container">


      <h3>All Users</h3>

      <ul>
        <% for (var i=0; i < users.length; i++) {%>
          <li>
            <a href="/users/<%=users[i].id%>">
              <%=users[i].username%>
            </a>
          </li>
          <%}%>
      </ul>

      <h3>Add a User</h3>

      <form action="/users" method="post">
        <input type="text" name="username" placeholder="username">
        <button class="btn waves-effect waves-light cyan lighten-3" type="submit" name="action">Submit</button>
      </form>
    </div>
  </main>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <%# <script type="text/javascript" src="/jquery-3.2.1.js"></script>%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <%# <script type="text/javascript" src="js/materialize.min.js"></script>%>

      <script type="text/javascript" src="/js/color.js"></script>

      <script type="text/javascript" src="/js/getLocation.js"></script>

</body>

</html>
