<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Users</title>
  <link href="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <h3>All Users</h3>

  <ul>
    <% for (var i=0; i < users.length; i++) {%>
      <li>
        <a href="/users/<%=users[i].id%>">
          <%=users[i].username%>
        </a>
      </li>
      <%}%>
  </ul>

  <h3>Add a User</h3>

  <form action="/users" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="submit">
  </form>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script type="text/javascript" src="/js/color.js"></script>

  <script type="text/javascript" src="/js/getLocation.js"></script>

</body>

</html>
