html{
  height: 100%;
}
body {
  height: 100vh;
  min-height: 100%;
}

.full-spectrum .sp-palette {
max-width: 200px;
}

.purpleDiv {
  background-color: purple;
}

.orangeDiv {
  background-color: orange;
}

.pinkDiv {
  background-color: pink;
}
